Source: hubdns
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-exec,
 dh-python,
 python-all (>= 2.6.6-3~),
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: hubdns
Architecture: any
Depends:
 ca-certificates,
 ${misc:Depends},
 ${python:Depends},
 pycurl-wrapper (>= 1.2),
Description: HubDNS - TurnKey Hub Dynamic DNS client
