Source: hubdns
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 4.0.0

Package: hubdns
Architecture: any
Depends:
 ca-certificates,
 ${misc:Depends},
 pycurl-wrapper (>= 1.2),
 python (>= 2.4),
Section: misc
Description: HubDNS - TurnKey Hub Dynamic DNS client
